header {
  height: 40px;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid #f1f3f5;
  .first-header {
    display: flex;
    svg {
      margin-right: 4px;
    }
    li {
      display: flex;
    }
    a {
      color: #1b1c1d;
      font-weight: 700;
      text-decoration: none;
      display: flex;
    }
    li:first-child:after {
      content: "";
      display: block;
      margin: 0 8px;
      width: 1px;
      height: 12px;
      background: #d5dbe2;
    }
  }
  section {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  section:nth-child(1) {
    padding: 0 24px;
    justify-content: left;
  }
  section:nth-child(2) {
    padding: 0 24px;
    justify-content: right;
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      color: #3e4042;
      line-height: 1.43;
    }
  }
}
